<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cjf.jcartstoreback.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="io.cjf.jcartstoreback.po.Address">
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <sql id="Base_Column_List">
    address_id, customer_id, receiver_name, receiver_mobile, content, tag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jcart_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jcart_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.cjf.jcartstoreback.po.Address">
    insert into jcart_address (address_id, customer_id, receiver_name, 
      receiver_mobile, content, tag
      )
    values (#{addressId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverMobile,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.cjf.jcartstoreback.po.Address" useGeneratedKeys="true" keyProperty="addressId">
    insert into jcart_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="receiverMobile != null">
        receiver_mobile,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="tag != null">
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.cjf.jcartstoreback.po.Address">
    update jcart_address
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.cjf.jcartstoreback.po.Address">
    update jcart_address
    set customer_id = #{customerId,jdbcType=INTEGER},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>

<!--  custom-->
  <select id="selectByCustomerId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jcart_address
    where customer_id = #{customerId}
  </select>
</mapper>