<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>address-create</title>
</head>

<body>
    <div id="app">
        <el-input v-model="tag" placeholder="请输入标签"></el-input>
        <el-input v-model="receiverName" placeholder="请输入收货人姓名"></el-input>
        <el-input v-model="receiverMobile" placeholder="请输入收货人手机"></el-input>
        <el-input v-model="content" placeholder="请输入地址内容"></el-input>

        <el-button type="primary" @click="handleCreateClick">创建</el-button>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/address-create.js"></script>

</body>

</html>