<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>order-checkout</title>
</head>

<body>
    <div id="app">
        <el-select v-model="selectedShipAddressId" placeholder="请选择寄送地址">
            <el-option v-for="item in myAddresses" :key="item.addressId" :label="item.content" :value="item.addressId">
            </el-option>
        </el-select>
        <br>

        <el-select v-model="selectShipMethod" placeholder="请选择寄送方式">
            <el-option v-for="item in shipMethods" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
        <br>

        <el-select v-model="selectedInvoiceAddredssId" placeholder="请选择发票地址">
            <el-option v-for="item in myAddresses" :key="item.addressId" :label="item.content" :value="item.addressId">
            </el-option>
        </el-select>
        <br>

        <el-select v-model="selectedPayMethod" placeholder="请选择支付方式">
            <el-option v-for="item in payMethods" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
        <br>

        <el-table :data="myShoppingCart" style="width: 100%">
            <el-table-column prop="productCode" label="商品代码">
            </el-table-column>
            <el-table-column prop="productName" label="商品名称">
            </el-table-column>
            <el-table-column label="价格">
                <template slot-scope="scope">
                    原价：{{scope.row.unitPrice}}
                    <br>
                    打折：{{scope.row.discount}}
                    <br>
                    折后价：{{(scope.row.unitPrice * scope.row.discount).toFixed(2)}}
                </template>
            </el-table-column>
            <el-table-column prop="quantity" label="数量">
            </el-table-column>
            <el-table-column label="总计">
                <template slot-scope="scope">
                    {{(scope.row.unitPrice * scope.row.discount * scope.row.quantity).toFixed(2)}}
                </template>
            </el-table-column>            
        </el-table>
        <br>

        <el-input v-model="comment" type="textarea" placeholder="请输入备注"></el-input>
        <br>

        总价：{{totalPrice}} <br>
        邮费：{{shipPrice}} <br>
        支付价：{{payPrice}} <br>
        <br>

        <el-button type="primary" @click="handleConfirmOrder">确认订单</el-button>

    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/order-checkout.js"></script>

</body>

</html>