<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>administrator-update-profile</title>
</head>

<body>
    <div id="app">
        用户名：{{username}} <br>
        姓名：<el-input v-model="realName" placeholder="请输入姓名"></el-input>
        邮箱：<el-input v-model="email" placeholder="请输入邮箱"></el-input>
        头像：<el-input v-model="avatarUrl" placeholder="请输入头像"></el-input>
        创建时间：{{(new Date(createTimestamp)).toLocaleString()}}
        <br>
        <el-button type="primary" @click="handleUpdateClick">更新</el-button>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/administrator-update-profile.js"></script>

</body>

</html>