<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>administrator-login</title>
</head>

<body>
    <div id="app">
        <el-input v-model="username" placeholder="请输入账号"></el-input>
        <el-input v-model="password" type="password" placeholder="请输入密码"></el-input>
        <br>
        <el-button type="primary" @click="handleLoginClick">登陆</el-button>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/administrator-login.js"></script>

</body>

</html>