<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>menu-navigate</title>
</head>

<body>
    <div id="app">

        <el-container>
            <el-header>JCart电商系统</el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu unique-opened background-color="#545c64" text-color="#fff" active-text-color="#ffd04b"
                        @select="handleMenuItemSelect">
                        <el-submenu v-for="subMenu in subMenus" :key="subMenu.index" :index="subMenu.index">
                            <template slot="title">
                                <i :class="subMenu.icon"></i>
                                <span>{{subMenu.name}}</span>
                            </template>
                            <el-menu-item v-for="menuItem in subMenu.menuItems" :key="menuItem.index"
                                :index="menuItem.index">{{menuItem.name}}</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-aside>
                <el-main>
                    <jc-product-search-page v-if="selectMainPage == '1-1'"></jc-product-search-page>
                    <jc-customer-search-page v-if="selectMainPage == '2-2'"></jc-customer-search-page>
                    <jc-order-search-page v-if="selectMainPage == '3-3'"></jc-order-search-page>
                    <jc-return-search-page v-if="selectMainPage == '3-4'"></jc-return-search-page>
                    <jc-administrator-index-page v-if="selectMainPage == '4-5'"></jc-administrator-index-page>
                </el-main>
            </el-container>
        </el-container>


    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>


    <script src="page/product-search-page.js"></script>
    <script src="page/customer-search-page.js"></script>
    <script src="page/order-search-page.js"></script>
    <script src="page/return-search-page.js"></script>
    <script src="page/administrator-index-page.js"></script>

    <script src="viewmodels/menu-navigate.js"></script>

</body>

</html>