<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>product-update</title>
</head>

<body>
    <div id="app">

        <el-input v-model="productCode" placeholder="请输入商品代码" readonly></el-input>
        <el-input v-model="productName" placeholder="请输入商品名称"></el-input>
        <el-input v-model="price" placeholder="请输入价格"></el-input>
        <el-input v-model="discount" placeholder="请输入打折"></el-input>
        <el-input v-model="stockQuantity" placeholder="请输入库存量"></el-input>
        <el-input v-model="rewordPoints" placeholder="请输入积分"></el-input>
        <el-input v-model="sortOrder" placeholder="请输入排序"></el-input>
        <el-input v-model="productAbstract" type="textarea" placeholder="请输入摘要"></el-input>
        <textarea id="mytextarea">{{description}}</textarea>

        <el-select v-model="selectedStatus" placeholder="请选择状态">
            <el-option v-for="item in statuses" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>

        <el-upload ref="uploadMain" action="" :http-request="uploadMainImage" :limit="1" accept="image/*"
            :auto-upload="false" :on-change="handleOnMainChange" :file-list="mainFileList">
            <el-button slot="trigger" size="small" type="primary">选取主图</el-button>
            <el-button size="small" type="success" @click="handleUploadMainClick">上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件</div>
        </el-upload>
        上传后主图：<el-link type="primary">{{mainPicUrl}}</el-link>
        <br>
        <br>

        <el-upload ref="uploadOther" multiple action="" :http-request="uploadOtherImage" :limit="9" accept="image/*"
            :auto-upload="false" :on-change="handleOnOtherChange" :on-remove="handleOnOtherRemove" :file-list="otherFileList">
            <el-button slot="trigger" size="small" type="primary">选取其他图片</el-button>
            <el-button size="small" type="success" @click="handleUploadOtherClick">上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件</div>
        </el-upload>
        上传后其他图片：
        <br>
        <div v-for="item in otherPicUrls">
            <el-link  type="primary">{{item}}</el-link>
            <br>
        </div>
        <br>
        <br>

        <el-button type="primary" @click="handleUpdateClick">更新</el-button>

    </div>

    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/product-update.js"></script>

</body>

</html>