<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>returnhistory-index</title>
</head>

<body>
    <div id="app">
        <el-divider>退货历史信息</el-divider>
        <el-table :data="returnHistories" style="width: 100%">
            <el-table-column prop="timestamp" label="时间">
            </el-table-column>
            <el-table-column prop="returnStatus" label="退货状态">
            </el-table-column>
            <el-table-column prop="comment" label="备注">
            </el-table-column>
            <el-table-column label="是否通知客户">
                <template slot-scope="scope">
                    {{scope.row.customerNotified}}
                </template>
            </el-table-column>
        </el-table>

        <el-divider>添加退货历史</el-divider>

        <el-select v-model="selectedReturnStatus" placeholder="请选择退货状态">
            <el-option v-for="item in returnStatuses" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
        <br>
        <br>

        <el-checkbox v-model="customerNotified">是否通知客户</el-checkbox>
        <br>
        <br>

        <el-input v-model="comment" type="textarea" placeholder="请输入备注"></el-input>
        <br>

        <el-button type="primary" @click="handleCreateClick">添加退货历史</el-button>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/returnhistory-index.js"></script>

</body>

</html>